:root {
  --textColor:rgb(214, 202, 202);
  --font :'Heebo', sans-serif;
  --label-color :  #6f7077;
}

body {
    background-color: #11131e;
    display: flex;
    justify-content:flex-start;
    overflow: hidden;
   
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
@font-face {
    font-family: "Norse-Bold" ;
    src: url(fonts/Norse-Bold.otf);
  }

  h1 {
    font-family: "Norse-Bold", sans-serif;
  }

  .heading{
    margin:35px 40px 0px 40px;
    font-family: var(--font);
    font-size: 18px;
    color:var(--textColor);
    
  }
 .text {
    margin:40px 40px 0px 40px;
   font-family: var(--font);
    font-size: 17px;
    color:var(--textColor);
 }

 
.form-container {
  padding-top: 12px;
  margin-top:80px;
  margin-left:40px;
  margin-right: 40px;
  width:auto;
  height: auto;
  padding-bottom: 2px;
}

header {
  font-family: var(--font);
  color: var(--textColor);
  font-size: 18px;
  margin-bottom: 11px;

}

label {
  font-family: var(--font);
  font-size: 10px;
  font-weight: bold;
  color : var(--label-color);
  letter-spacing: 0.1em;
}

input[type="text"] , input[type="email"] , input[type="tel"],
input[type="password"] {
  padding: 5px;
  height: 20px;
  width: 100%;
  border : 0.5px solid #6f7077;
  background-color: #11131e;
  border-radius: 2px;
}

.section {
 margin-bottom: 20px;
}

.form-background {
  background-color:  #181b29;
}

form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1em;
}