:root {
  --textColor:rgb(214, 202, 202);
  --font :'Heebo', sans-serif;
}

body {
    background-color: #11131e;
    display: flex;
    justify-content:flex-start;
    overflow: hidden;
   
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
@font-face {
    font-family: "Norse-Bold" ;
    src: url(fonts/Norse-Bold.otf);
  }

  h1 {
    font-family: "Norse-Bold", sans-serif;
  }

  .heading{
    margin:45px 40px 0px 40px;
    font-family: var(--font);
    font-size: 18px;
    color:var(--textColor);
    
  }
 .text {
  margin:40px 40px 0px 40px;
  font-family: var(--font);
    font-size: 17px;
    color:var(--textColor);
 }
.form-container {
  margin-top:100px;
  margin-left:40px;
  margin-right: 40px;
  width:auto;
  height: 300px;
  background-color: #626369;
}

label {
  font-family: var(--font);
  font-size: smaller;
}

input[type="text"] , input[type="email"] , input[type="tel"],
input[type="password"] {
  padding: 5px;
  height: 20px;
  width: 100%;
  border : 1px solid violet;
  background-color: #11131e;
}
.form-group {
  display: flex;
}
.input-row {
  display: flex;
  gap:3px;

}

.label-row-first  {
  display: flex;
  gap:150px;
}

.label-row-second {
  display: flex;
  gap:187px;
}

.label-row-third {
  display: flex;
  gap:155px;
}

.section {
 margin-bottom: 20px;
}